Package: com.551.watusischeduledmsgfix
Name: Watusi Scheduled Message Fix
Version: 1.0.2
Architecture: iphoneos-arm64
Description: Watusi scheduled message fix for iOS 16 rootless jailbreaks.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, com.fouadraheb.watusi3 (>= 1.3.23)
